* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.header {
  position: relative;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #393e46;
  padding: 8px 60px;
}
.header-top .email a {
  color: #eeeeee;
  text-decoration: none;
}

.header-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  padding: 16px 60px;
}
.header-bottom .logo {
  font-size: 32px;
  font-weight: 600;
  color: #eeeeee;
  width: 40%;
}
.header-bottom .items {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
}
.header-bottom .items a {
  text-decoration: none;
}
.header-bottom .items .item {
  margin: 0 24px;
  color: #eeeeee;
  font-size: 18px;
  text-transform: uppercase;
}
.header-bottom .items .auth-btns {
  padding: 6px 12px;
  background-color: #00adb5;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  margin: 0 6px;
  border-radius: 2px;
}
.header-bottom .nav-open {
  transform: translateX(0) !important;
}
.header-bottom .ham-burger {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 15%;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 20px;
  display: none;
  cursor: pointer;
  transform: translate(50%, -50%);
}
.header-bottom .ham-burger span {
  top: 0;
  height: 5px;
  width: 40px;
  border-radius: 9px;
  background-color: white;
  position: absolute;
  transition: all 0.3s;
}
.header-bottom .ham-burger span:nth-child(1) {
  top: 0;
}
.header-bottom .ham-burger span:nth-child(2) {
  top: 50%;
}
.header-bottom .ham-burger span:nth-child(3) {
  top: 50%;
}
.header-bottom .ham-burger span:nth-child(4) {
  top: 100%;
}
.header-bottom .ham-burger-open span {
  background-color: white;
}
.header-bottom .ham-burger-open span:first-child, .header-bottom .ham-burger-open span:last-child {
  opacity: 0;
}
.header-bottom .ham-burger-open span:nth-child(2) {
  transform: rotate(-45deg);
}
.header-bottom .ham-burger-open span:nth-child(3) {
  transform: rotate(45deg);
}

.hero-div {
  min-height: 90vh;
  background-position: center center;
  background-size: cover;
  padding: 14% 7%;
  box-shadow: inset 0 0 0 20000px rgba(0, 0, 0, 0.559);
}
.hero-div .data {
  width: 50%;
}
.hero-div .data h1 {
  font-size: 64px;
  color: white;
}
.hero-div .data h4 {
  font-size: 20px;
  color: #eeeeee;
  margin-bottom: 32px;
}
.hero-div .data a {
  padding: 12px 20px;
  background-color: #00adb5;
  background-color: #222831;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #eeeeee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 6px;
  border-radius: 6px;
}

.about {
  padding: 4% 7%;
  background-color: #eeeeee;
}
.about .title {
  text-align: center;
}
.about .title h1 {
  font-size: 42px;
}
.about .title h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.749);
}
.about .about-data {
  display: flex;
  justify-content: space-between;
  padding: 4% 4%;
}
.about .about-data .image {
  width: 40%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-size: cover;
  border-radius: 6px;
}
.about .about-data .data {
  width: 50%;
  padding: 4% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .about-data .data h4 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}
.about .about-data .data p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.749);
  font-weight: 500;
}
.about .about-data .data .stats {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about .about-data .data .stats .stat {
  text-align: center;
  margin: 0 20px;
}
.about .about-data .data .stats .stat h1 {
  font-size: 32px;
  font-weight: 700;
}
.about .about-data .data .stats .stat h4 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.707);
}

.shop {
  padding: 4% 7%;
}
.shop .title {
  text-align: center;
}
.shop .title h1 {
  font-size: 42px;
}
.shop .title h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.749);
}
.shop .shop-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4% 4%;
  width: 100%;
}
.shop .shop-data .card {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  transition: all 0.3s;
  margin: 16px 16px;
}
.shop .shop-data .card .image {
  width: 100%;
  height: 150px;
  background-size: cover;
  border-radius: 6px 6px 0 0;
  background-position: center right;
}
.shop .shop-data .card .data {
  padding: 2% 4%;
}
.shop .shop-data .card .data h4 {
  font-size: 18px;
}
.shop .shop-data .card .data div {
  display: flex;
  justify-content: space-between;
}
.shop .shop-data .card .data div h5 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.753);
}
.shop .shop-data .card:hover {
  transform: scale(1.07);
}

.brands {
  padding: 4% 7%;
  background-color: #eeeeee;
}
.brands .title {
  text-align: center;
}
.brands .title h1 {
  font-size: 42px;
}
.brands .title h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.749);
}
.brands .brands-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 0;
  flex-wrap: wrap;
}
.brands .brands-data .brand {
  width: 150px;
  height: 80px;
  background-repeat: no-repeat;
  margin: 26px;
  background-size: contain;
}

footer a {
  color: #6c757d;
  text-decoration: none;
  font-size: 18px;
}
/*# sourceMappingURL=styles.css.map */